<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="hhtp://www.ultraq.net.nz/thymeleaf/layout">
<body>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title layout:title-patter="@CONTENT_TITLE - LAYOUT_TITLE">Website</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<section class="bg-light py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature rounded-3 mb-3"><img src="/loggoo.png"></div>
      <h2 class="fw-bolder">Add picture URL link below</h2>
      <p class="lead mb-0">Please fill out the form below</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form id="contactForm" method="post" th:action="@{/admin/layoutmanager/{sliderId}/edit(sliderId=${slider.get().id})}" th:object="${slider}">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="title"
                   type="text"
                   placeholder="Enter your name..."
                   name="title"
                   th:field="*{title}"
            />
            <label for="title">Title</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="photoUrl"
                   type="text"
                   placeholder="Enter your name..."
                   name="photoUrl"
                   th:field="*{photoUrl}"
            />
            <label for="photoUrl">Photo Url</label>
          </div>
          <!-- Submit Button-->
          <div class="d-grid"><button class="btn btn-primary"  type="submit">Update</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
<footer class="py-5 bg-dark">
  <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</html>