<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="hhtp://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="body" 34class="py-5">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
      <h2 class="fw-bolder">Student details</h2>
      <p class="lead mb-0">Please fill out the form below</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <form id="contactForm"  method="post" th:action="@{/admin/enrolled/{enrolleeId}/edit(enrolleeId=${enroll.id})}" th:object="${enroll}">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="firstName"
                   type="text"
                   placeholder="Enter your name..."
                   name="firstName"
                   th:field="*{firstName}"
            />
            <label for="firstName">First name</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="middleName"
                   type="text"
                   placeholder="Enter your name..."
                   name="middleName"
                   th:field="*{middleName}"
            />
            <label for="firstName">Middle name</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="lastName"
                   type="text"
                   placeholder="Enter your name..."
                   name="lastName"
                   th:field="*{lastName}"
            />
            <label for="lastName">Last name</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="address"
                   type="text"
                   placeholder="Enter your name..."
                   name="address"
                   th:field="*{address}"
            />
            <label for="lastName">Address</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="contactNo"
                   type="tel"
                   name="contactNo"
                   placeholder="Enter your name..."
                   th:field="*{contactNo}"
            />
            <label for="lastName">Contact number</label>
          </div>

          <div class="form-floating mb-3">
            <input class="form-control"
                   id="email"
                   type="email"
                   name="email"
                   placeholder="Enter your name..."
                   th:field="*{email}"
            />
            <label for="email">Email address</label>
          </div>

          <div class="form-group mb-3">
            <label for="birthday">Birthday</label>
            <input type="date"
                   class="form-control"
                   id="birthday"
                   name="birthday" th:field="*{birthday}" required>

          </div>

          <div class="form mb-3" >
            <label for="gender">Gender</label>
            <select
                    id="gender"
                    name="gender">
              <option th:value="male">Male</option>
              <option th:value="female">Female</option>
            </select>
          </div>


          <!-- Submit Button-->
          <div class="d-grid"><button class="btn btn-primary"  type="submit">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>